{% extends 'base.html.twig' %}

{% block title %}Etapes{% endblock %}

{% block body %}
    <h1>Etapes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etape.id }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ etape.Descriptif }}</td>
            </tr>
            <tr>
                <th>Consignes</th>
                <td>{{ etape.Consignes }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ etape.Position }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_etapes_index') }}">back to list</a>

    <a href="{{ path('app_etapes_edit', {'id': etape.id}) }}">edit</a>

    {{ include('etapes/_delete_form.html.twig') }}
{% endblock %}
